services: 
  backgammon-bot:
    build: .
    command: /bin/sh -c "alembic upgrade head && python -m bot.init"
    container_name: backgammon_bot
    environment:
      - REDIS_HOST=redis
      - POSTGRES_HOST=db
    volumes:
      - ./bot:/app/bot
      - ./log:/app/log
      - ./files:/app/files
      - ./bot/migration/versions:/app/bot/migration/versions
    env_file:
      - .env
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_USER_PASSWORD=${REDIS_USER_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - ./redisdata:/data
    command: >
      sh -c '0
        mkdir -p /usr/local/etc/redis &&
        echo "bind 0.0.0.0" > /usr/local/etc/redis/redis.conf &&
        echo "requirepass $REDIS_PASSWORD" >> /usr/local/etc/redis/redis.conf &&
        echo "appendonly yes" >> /usr/local/etc/redis/redis.conf &&
        echo "appendfsync everysec" >> /usr/local/etc/redis/redis.conf &&
        echo "# memory limit and eviction policy" >> /usr/local/etc/redis/redis.conf &&
        echo "maxmemory 512mb" >> /usr/local/etc/redis/redis.conf &&
        echo "maxmemory-policy allkeys-lru" >> /usr/local/etc/redis/redis.conf &&
        echo "# notify key events for SET so enforcer can apply TTL" >> /usr/local/etc/redis/redis.conf &&
        echo "notify-keyspace-events Eg" >> /usr/local/etc/redis/redis.conf &&
        echo "user default on >$REDIS_PASSWORD ~* +@all" > /usr/local/etc/redis/users.acl &&
        echo "user $REDIS_USER on >$REDIS_USER_PASSWORD ~* &* +@all" >> /usr/local/etc/redis/users.acl &&
        redis-server /usr/local/etc/redis/redis.conf --aclfile /usr/local/etc/redis/users.acl
      '
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true



  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "127.0.0.1:5432:5432"

  # admin-panel:
  #   build: .
  #   command: python -m bot.flask_admin.appbuilder_main
  #   container_name: admin_panel
  #   ports:
  #     - "5000:5000"
  #   volumes:
  #     - ./bot:/app/bot
  #     - ./log:/app/log
  #     - ./temp:/app/temp
  #   env_file:
  #     - .env
  #   environment:
  #     - FLASK_ENV=development
  #     - FLASK_APP=bot.flask_admin.appbuilder_main
  #   depends_on:
  #     - db
  #     - redis
  #     - backgammon-bot
  #   restart: unless-stopped


volumes:
  pgdata:
    driver: local
  redisdata:
    driver: local

