{# templates/my_base.html #}
{% extends "appbuilder/base.html" %}

{% block head_css %}
  {{ super() }}
  <style>
    @media (max-width: 768px) {
      .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
      }
      .form-horizontal .col-form-label,
      .form-horizontal .control-label {
        text-align: left;
        padding-bottom: .25rem;
      }
      .form-horizontal .col-sm-2,
      .form-horizontal .col-sm-3,
      .form-horizontal .col-sm-4 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .form-horizontal .col-sm-8,
      .form-horizontal .col-sm-9,
      .form-horizontal .col-sm-10 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  </style>
{% endblock %}